.docker {
    background-color: #0db7ed;
    color: #fff;
}

.javascript {
    background-color: #f0db4f;
    color: #000;
}

.vscode {
    background-color: #007acc;
    color: #fff;
}

.html {
    background-color: #f16529;
    color: #fff;
}

.css {
    background-color: #2965f1;
    color: #fff;
}

.wordpress {
    background-color: #21759b;
    color: #fff;
}

.linux {
    background-color: #000;
    color: #fff;
}

.shell {
    background-color: #000;
    color: #fff;
}